<h2>My Remittances</h2>

<div>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Amount</th>
      <th>OTP Hash</th>
      <th></th>
    </tr>
    <tr *ngFor="let r of remittances; let i = index">
      <td>{{i + 1}}</td>
      <td>{{r.sender.slice(0, 10)}}</td>
      <td>{{r.recipient.slice(0, 10)}}</td>
      <td>{{r.getAmountEth()}}</td>
      <td>{{r.otpHash.slice(0, 10)}}</td>
      <td>
        <button (click)="onRevokeClicked(r.otpHash)">Revoke</button>
      </td>
    </tr>
  </table>

  <div>{{revokeTxState}}</div>
</div>