<h2>Network Info</h2>

<div>
  <label>Network ID:
    <span>{{networkId}}</span>
  </label>
  <label>Last block:
    <span>{{lastBlock}}</span>
  </label>
</div>

<div>
  <label>Contract:
    <span>{{contractAddress}}</span>
  </label>
</div>

<div>
  <label>Contract owner:
    <span>{{contractOwnerAddress}}</span>
  </label>
</div>

<div>
  <label>Contract balance:
    <span>{{contractBalance}}</span>
  </label>
</div>

<div>
  <label>Account:
    <span>{{accountAddress}}</span>
  </label>
</div>

<div>
  <label>Account balance:
    <span>{{accountBalance}}</span>
  </label>
</div>